body{
    text-align: center;
    width: 66%;
    border: 5px solid black;
    margin: auto;
    height: auto;
    width: 600px;
    background: antiquewhite;
    color: black;
}
h1{
    color:red; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

li{
    text-align: left;  
    margin-left: 50px;   
}
#submitbtn{
    float: center;
    margin-left: 30px;;
}
button:hover{
    background-color: lightblue;
}
button{
    float: center;
    margin-left: 30px;
}
input{
    float: left;
    margin-left: 50px;
}
#inputbutton{
    border: 1px solid black;
    height: 25px;
    margin-left: 200px;
}
#map {
    float: right;
    margin-right: 50px;
    height: 300px;
    width: 450px;
}